<!DOCTYPE HTML>
<html>
  <head>
	  <%=render :partial => 'layouts/header' %>
  </head>
  <body>
    <%=image_tag('cables_ccc.png', :alt => 'cables', :id => 'cables_ccc') %>
    <%=image_tag('cables.png', :alt => 'cables', :id => 'cables') %>
    
    <%=link_to image_tag('logo.png', :alt => 'cthn logo'), {:controller => 'page', :action => 'redirect_to_frontpage'}, :id => 'logo' %>
    <%=link_to image_tag('rss.png', :alt => 'Feed'), {:controller => 'feed', :action => 'global'}, {:title => t('feed.global', :app_name => Raki.app_name), :id => 'rss'} %>
    
    <header>
      <%=render :partial => "#{controller_name}/tabs" %>
      <%=render :partial => 'layouts/auth' %>
    </header>
    
    <div id="content">
      <div class="canvas">
        <nav id="navigation">
          <%=Raki::Parser[:page].parse '\\cthn_menu\\', context %>
        <%= image_tag('header/2m.png', :alt => 'header image', :id => 'headerimage') %>
        <h1 id="header_path"><%= h @title %></h1>
        
        <article>
          <%= yield %>
				</article>
				
				<span class="clearfix"></span>
        
      </div>
    </div>
    
    <footer>
      <%=render :partial => "#{controller_name}/footer" %><br />
      Diese Seite basiert auf <a href="http://github.com/ydkn/raki">Raki, Version <%= Raki.version %></a> - einem Wiki auf git-Basis.<br />Mehr Informationen dazu unter <a href="<%=Page.new(:namespace => 'projects', :name => 'Wiki').url %>">Projekte/Wiki</a>.
    </footer>
  </body>
</html>
